[general]

description = {{ params.name }}
calculation_mode = classical_risk
random_seed = {{ params.random_seed }}
exposure_file = exposure_model.xml


[geometry]

region_constraint = {{ params.region }}


[calculation]

asset_hazard_distance = {{ params.asset_hazard_distance }}
lrem_steps_per_interval = {{ params.lrem_steps_per_interval }}
asset_correlation = {{ params.asset_correlation }}

{% for vul in vulnerability_models %}

{{ vul.type }}_file = {{ vul.type }}_model.xml

{% endfor %}


[output]

export_dir = ./tmp
mean_loss_curves = true
individual_curves = true
quantile_loss_curves = {% for quantile in params.quantile_loss_curves %} {{ quantile }} {% endfor %}
hazard_maps = true
conditional_loss_poes = {% for poe in params.poes %} {{ poe }} {% endfor %}



