[general]

description = {{ model.name }}
calculation_mode = scenario

exposure_file = exposure_model.xml

region_constraint =  {{ model.region }}
maximum_distance = {{ model.max_hazard_dist }}

{% for vul in vulnerability %}

{{ vul[0] }}_file = {{ vul[0] }}_model.xml

{% endfor %}

time_event = {{ model.time_of_the_day }}

insured_losses = {{ model.insured_losses }}
asset_correlation = {{ model.vul_correlation_coefficient }}
master_seed = {{ model.master_seed }}


export_dir = ./tmp