<?xml version='1.0' encoding='utf-8'?>
<nrml xmlns:gml="http://www.opengis.net/gml" xmlns="http://openquake.org/xmlns/nrml/0.4">
    <logicTree logicTreeID="lt">
        {% for level in levels %}
            <logicTreeBranchingLevel branchingLevelID="l{{ level.id }}">
            {% for branch_set in level.branch_sets %}
                <logicTreeBranchSet uncertaintyType="{{ branch_set.uncertainty_type }}" branchSetID="s{{ branch_set.id }}" {% if branch_set.sources %} applyToSources="{% for source in branch_set.sources %} s{{ source }} {% endfor %}"{% endif %} {% if branch_set.origins %} applyToBranches='{% for origin in branch_set.origins %} b{{ origin }} {% endfor %}' {% endif %}>
                    {% for branch in branch_set.branches %}
                    <logicTreeBranch branchID="b{{ branch.id }}">

                        {% if branch_set.uncertainty_type == 'sourceModel' %}
                        <uncertaintyModel>source_model_{{ branch.source_model_id }}.xml</uncertaintyModel>
                        {% endif %}
                        {% if branch_set.uncertainty_type == 'maxMagGRRelative' %}
                        <uncertaintyModel>{{ branch.max_mag_inc }}</uncertaintyModel>
                        {% endif %}
                        {% if branch_set.uncertainty_type == 'bGRRelative' %}
                        <uncertaintyModel>{{ branch.b_inc }}</uncertaintyModel>
                        {% endif %}
                        {% if branch_set.uncertainty_type == 'abGRAbsolute' %}
                        <uncertaintyModel>{{ branch.a_b[0] }} {{ branch.a_b[1] }}</uncertaintyModel>
                        {% endif %}
                        {% if branch_set.uncertainty_type == 'maxMagGRAbsolute' %}
                        <uncertaintyModel>{{ branch.max_mag }}</uncertaintyModel>
                        {% endif %}

                        <uncertaintyWeight>{{ branch.weight }}</uncertaintyWeight>
                    </logicTreeBranch>
                    {% endfor %}
                </logicTreeBranchSet>
            {% endfor %}
            </logicTreeBranchingLevel>
        {% endfor %}
     </logicTree>
</nrml>